@import "tailwindcss";
body,html{
     font-family: "Geist", sans-serif;
    scroll-behavior: smooth;
    
}
.shadows{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card__shadows{
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.custom-tab:hover {
    background-color: #422AD5 !important;
    border-color: #422AD5 !important;
    color: #fff !important;
}

.custom-tab {
    background-color: transparent;
    border: 2px solid #E4E4E7 !important;
    color: #9ca3af !important;
    min-width: 120px;
}

.custom-tab::before {
    display: none !important;
}

.custom-tab:checked {
    background-color: #422AD5 !important;
    border-color: #422AD5 !important;
    color: #ffffff !important;
    box-shadow: none !important;
    border-bottom: 1px solid #422AD5 !important;
}
.active{
     background-color: #422AD5 !important;
    border-color: #422AD5 !important;
    color: #fff !important;
}.custom-btn {
    background-color: transparent;
    border: 1px solid #422AD5;
    color: #422AD5;
}

.custom-btn:hover,
.custom-tab:hover {
    background-color: #422AD5 !important;
    border-color: #422AD5 !important;
    color: #fff !important;
}

.custom-tab {
    background-color: transparent;
    border: 1px solid #422AD5;
    color: #422AD5;
}

.custom-tab::before {
    display: none !important;
}

.custom-tab:checked {
    background-color: #422AD5 !important;
    border-color: #422AD5 !important;
    color: #ffffff !important;
    box-shadow: none !important;
    border-bottom: 1px solid #422AD5 !important;
}
.active{
     background-color: #422AD5 !important;
    border-color: #422AD5 !important;
    color: #fff !important;
}